h1.header1{
    font-size:50px;
    border:solid 5px blue;
    height:400px;
    text-align:center;
    padding:50px 0px 0px 0px;
    background-image:url("/img/selman2.jpg");
    background-repeat:repeat-x;
    color:rgb(9, 218, 103);
    background-size: contain;
    
    
    

}